.product {
  padding: 1rem;
  &__image-wrap {
    img {
      height: 100px;
      width: 100%;
      object-fit: contain;
    }
  }
  text-align: center;
  h1 {
    font-size: 0.9999rem;
    font-weight: 300;
    margin-top: 1rem;
  }
  &__price {
    font-weight: 600;
  }
}
